*{
  margin: 0;
  padding: 0;

}

.App {
  background: linear-gradient(rgb(90, 100, 133), rgb(26, 58, 160));
  height: 100%;
  width: 100%;  
  padding: 15px;
}


.App input, .App button{
  border: 0;
  border-radius: 16px;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px, 12px;
  height: 36px;
}

.App header form{
  display: flex;
  gap: 12px;

  /* margin-right: 16px; */
}

.App input{
  background-color: #333;
  color: #fff;
  flex: 1;

}

.App button{
  background-color: hsl(226, 72%, 36%);
  color: #fff;
  transition: .2s ease-in-out;
}

.App button:hover{
  background-color: hsl(226, 72%, 26%);
}

.App main{
  margin: 36px 0px;
}

.App h1{
  text-align: center;
  max-width: 36px 0px;
}

.App h2{
  font-weight: 400;
  margin-bottom: 18px;
}

.App section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 72px 0;
}

.temp-atual p{
  font-size: 48px;
}

.temp-atual p + p{
  font-size: 32px;
}

.previsao ol{
  list-style: none;
}

.previsao ol li{
  padding: 8px 24px;
  background-color: rgba(0, 0, 0, .55);
  border-radius: 16px;

  display: flex;
  justify-content: space-between;

}

.previsao ol li + li{
  margin-top: 8px;
}

.previsao ol li h3{
  font-weight: 400;
  min-width: 120px;
  text-align: left;
}

.previsao ol li div{
  display: flex;
  min-width: 90px;
}

.previsao ol li div svg{
  font-size: 18px;
  margin-top: 20px;
  
}

/* git@github.com:VerenaSousaADS/Weather.git 